{
	"extends": "airbnb-base",
	"env": {
		"browser": true,
		"es6": true
	},
	"rules": {
		"indent": ["error", "tab"],
		"linebreak-style": ["off"],
		"no-tabs": [
			"error",
			{
				"allowIndentationTabs": true
			}
		],
		"no-restricted-syntax": [
			"error",
			{
				"selector": "ForInStatement"
			},
			{
				"selector": "LabeledStatement"
			},
			{
				"selector": "WithStatement"
			}
		],
		"no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_"
			}
		],
		"no-console": [
			"error",
			{
				"allow": [
					"info",
					"warn",
					"error"
				]
			}
		]
	}
}
