<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Testing</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label for="servers">Servers</label>
					<select id="servers" class="form-control"></select>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="issue-name" placeholder="Issue Name">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="issue-link" placeholder="Issue Link">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="issue-branch" placeholder="Issue Branch">
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="set-current-branch">
					<label class="form-check-label" for="set-current-branch">
						Change current branch to this issue
					</label>
				</div>
				<button class="btn btn-primary" id="add-issue">Add Issue</button>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-database.js"></script>

	<script src="/js/db.js"></script>
	<script src="/js/add.js"></script>
</body>
</html>
